Lab5/Task1.exe
Lab5/Task2.exe
Lab5/Task3.exe
Lab6/Task1.exe
Lab6/Task2.exe
Lab8/Task1.exe
Lab8/Task2.exe
Lab8/Task3.exe
Lab9/Task1.exe
Lab9/Task2.exe
Assignment3/string.exe
Lab10/Task1.exe
Lab10/Task2.exe
Lab10/Task3.exe
Lab11/Task1.exe
Lab11/Task2.exe
Lab11/Task3.exe
Lab11/Task4.exe
